<section class="nav">
    <nav class="nav_space" id="nav_space">
        <img src="assets/images/png/paw.png" alt="" srcset="" id="paw">
        <button id="ham_menu" class="ham_menu" type="button"> <i class="bi bi-list"></i> </button>
        <div class="menu_space" id="menu_space">
            <ul id="link_space" class="link_space">
                <button class="cerrar_menu" id="cerrar"><i class="bi bi-x"></i></button>
                <li class="li"><a class="link_text" href="index.html">Inicio</a></li>
                <li class="li"><a class="link_text" routerLink="/dashboard/about-us">Quienes Somos</a></li>
                <li class="li"><a class="link_text" routerLink="/dashboard/register-pets">Registra Tu Mascota</a></li>
                <li class="li"><a class="link_text" routerLink="/dashboard/our-services">Nuestros Servicios</a></li>
                <li class="li"><a class="link_text" routerLink="/dashboard/cotact-us">Contactonos</a></li>
                <li class="li">
                  <app-login></app-login> 
                    
                </li>
            </ul>
        </div>
    </nav>
</section>
