
img{
    float: inline-start;
    margin-left: 10px;
}
section.nav { 
    justify-content: space-between;
    margin: 10px 90px;
    

}
.menu-list {
    display: none;
    list-style: none;
    gap: 15px;
  }
  
  /* Muestra la lista del menú cuando el checkbox está marcado */
  .menu-toggle:checked ~ .menu-list {
    display: block;
  }
  
  /* Oculta el input asociado al label que despliega el icono del menu hamburguesa */
  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  /* Estilos generales del menú */
  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .sub-menu .menu-item {
      border: 1px dotted blue;
      box-sizing: border-box;
  }
  .sub-menu .menu-item .sub-menu {
     background-color: orange;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 567px) {
    img{
        width: 50px;
    }

    .image-nav{
        display: flex;
        flex-direction: row;
        text-align: end;

    }
  }
  @media screen and (max-width: 767px) {
    /* Disposición vertical */
    
    .menu {
      flex-direction: column;
    }
    
    /* Estilos para el botón de menú */
    .menu-icon {
      display: block;
    }
    
    .menu-list {
      display: none;
      overflow: auto;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
    
    .menu-toggle:checked ~ .menu-list {
      display: flex;
    }
    
    /* Estilos para submenús */
    .sub-menu {
      display: none;
    }
    
    .menu-item:hover .sub-menu {
      display: flex;
      flex-direction: column;
      position: static;
    }
  }
  
  /* Estilos para dispositivos de escritorio */
  @media screen and (min-width: 768px) {
    /* Disposición horizontal */
    
    menu {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    /* Estilos para el botón de menú */
    .menu-toggle {
      display: none;
    }
    
    .menu-icon {
      display: none;
    }
    
    .menu-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    /* Estilos para submenús */
    .sub-menu {
      position: absolute;
      z-index: 1;
      display: none;
      padding: 0;
    }
    
    .menu-item:hover .sub-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
    }
  }

  @media screen and (max-width: 1200px) {
    .menu{
        margin: 10px 30px;
        
    }
    app-header{ 
        display: flex;
        justify-content: space-between;
        
    }
  }

  @media screen and (max-width: 1900px) {
    .menu{ 
      margin: 30px 90px;
      padding-top: 20px;

    }
    img#paw {
      padding-left: 90px;
      width: 12rem;
  }
  }