
img#paw{
    float: inline-start;
    margin-left: 10px;
    width: 30px;
}
.ancor{ 
  text-decoration: none;
  font-family: monospace;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  color: #1a1a1b;
  background-color: #f4ece1;
  border-radius: 7px;
  padding: 4px;

}

section.nav { 
    justify-content: space-between;
    margin: 10px 90px;
    

}
.menu-list {
    display: none;
    list-style: none;
    gap: 15px;
  }
  
  /* Muestra la lista del menú cuando el checkbox está marcado */
  .menu-toggle:checked ~ .menu-list {
    display: block;
  }
  
  /* Oculta el input asociado al label que despliega el icono del menu hamburguesa */
  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  /* Estilos generales del menú */
  .menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .sub-menu .menu-item {
      border: 1px dotted blue;
      box-sizing: border-box;
  }
  .sub-menu .menu-item .sub-menu {
     background-color: orange;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 320px) {
   .menu{
    text-align: end;
   }

   
    img#paw {
      width:  10px;
      margin: 15px -74px;
      height: 48px;
      object-fit: contain;
  }
    .menu-icon {
      display: block;
      font-size: 12px;
      color: orange;
      
    }
    .image-nav{ 
      background-color: #f4ece1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .menu-toggle:checked ~ .menu-list {
      display: flex;
    }
    .menu-item:hover .sub-menu {
      display: flex;
      flex-direction: column;
      position: static;
    }
    
  }

  @media screen and (max-width: 768px) {
    .menu {
      flex-direction: row;
      justify-content: end;
      align-items: center;  
           
    }
    
    img#paw{
        width: 30px;
       
    }

    .image-nav{
      
        background-color: #f4ece1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      
    }
    .menu-icon {
      display: block;
      font-size: 42px;
      color: orange;
      margin-right: 30px;
    }
    
  }

  @media screen and (max-width: 820px) {
    .menu {
      flex-direction: row;
      justify-content: end;
      align-items: center;  
           
    }
    .menu-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .sub-menu {
      position: absolute;
      z-index: 1;
      display: none;
      padding: 0;
    }
    
    
  }
 
  @media screen and (max-width: 992px) {
    
    
    
    /* .menu-list {
      display: none;
      overflow: auto;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    } */
    
    /* .menu-toggle:checked ~ .menu-list {
      display: flex;
    } */
    
    /* Estilos para submenús */
    /* .sub-menu {
      display: none;
    } */
    
    /* .menu-item:hover .sub-menu {
      display: flex;
      flex-direction: column;
      position: static;
    } */
  }
  @media screen and (max-width: 1250px) {
    
    
    .menu {
      flex-direction: row;
      justify-content: end;
      align-items: center;  
           
    }
    .menu-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
  }
    
    /* Estilos para el botón de menú */
    
    
    .menu-list {
      display: none;
      overflow: auto;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
    
    .menu-toggle:checked ~ .menu-list {
      display: flex;
    }
    
    /* Estilos para submenús */
    .sub-menu {
      display: none;
    }
    
    .menu-item:hover .sub-menu {
      display: flex;
      flex-direction: column;
      position: static;
    }
  }
  
  /* Estilos para dispositivos de escritorio */
  @media screen and (min-width: 1300px) {
    /* Disposición horizontal */
    
    /* .menu {
      flex-direction: row;
      justify-content: end;
      align-items: center;  
           
    } */
   
    
    /* Estilos para el botón de menú */
    .menu-toggle {
      display: none;
    }
    
    .menu-icon {
      display: none;
    }
    
    /* .menu-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    } */
    
    /* Estilos para submenús */
    /* .sub-menu {
      position: absolute;
      z-index: 1;
      display: none;
      padding: 0;
    } */
    
    /* .menu-item:hover .sub-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
    } */
    .ancor{
      font-size: 10px;
      background-color: #edd3b1;
        
    }
   
  }

  @media screen and (max-width: 1500px) {
    .menu{
      margin: 10px 20px;
      display: flex;
      flex-direction: column;
    }
   

    app-header{ 
        display: flex;
        justify-content: space-between;
        
    }
    a.ancor{ 
      font-size: 10px;
      align-items: end;
    }
    

    
  }
 
  @media screen and (max-width: 1900px) {
   
    img#paw {
      padding-left: 90px;
      width: 9rem;
      margin-left: -35px;
  }
  a.ancor{ 
    font-size: 20px;
    align-items: end;
    
  }
  
  }