<header class="header">
    <nav class="menu">
      <div class="img-header">
        <a href="index.html"> 
          <img class="image-header" src="assets/images/png/icono_huella-removebg-preview 1.png" alt="">
        </a>
      </div>
      <input type="checkbox" id="menu-toggle" class="menu-toggle visually-hidden">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu-list">
        <!-- <div class="container-image"> -->
          <img class="image-header" src="public/assets/images/png/icono_huella-removebg-preview 1.png" alt="">
        <!-- </div> -->
        <li class="menu-item"><a class="ancor" href="index.html">Quienes Somos</a>
        <li class="menu-item"><a class="ancor" routerLink="/dashboard/new-pet">Registra Tu Mascota</a>
        <li class="menu-item"><a class="ancor" routerLink="/dashboard/our-services">Servicios</a></li>
        <!-- <li class="menu-item"><a href="#">Listas</a>
          <ul class="sub-menu">
            <li class="menu-item"><a class="ancor" routerLink="/dashboard/pets">Mascotas</a></li>
            <li class="menu-item"><a class="ancor" routerLink="/dashboard/bookings">Reserva</a></li>
          </ul>
        </li> -->
        <li class="menu-item"><a class="ancor" routerLink="/dashboard/cotact-us">Contáctanos</a></li>
          <li class="login-button-m menu-item">
            <app-login></app-login> 
          </li>
      </ul>
        <li class="login-button-t menu-item ">
          <app-login></app-login> 
        </li>
    </nav>
</header>
 