<footer id="footer">
    <section class="footer">
        <div class="contenedor copy-ter-condiciones">
            <div class="copyright">© 2024 Creado por los amigos de los perros </div>
            <div class="ter-condiciones">
                <ul class="menu-ter-condiciones">
                    <li class="l-ter-condiciones">
                        <a class="condiciones" href="#">Términos y condiciones</a>
                    </li>
                    <li class="l-ter-condiciones">
                        <a class="condiciones" href="#">Politicas de privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
        </section>
    </footer>
