body {
    padding: 0;
    box-sizing: border-box;
    font-size:1rem;
    
}

.informacion_1 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

section.who-im {
    
    display: flex;
    flex-direction: column;
    
}

.caninos_montana{
    width: 227px;
    height: 249px;
    object-fit: cover;
    object-position: 20px -87px;
    margin-top: 10px;
}

.fusion-title .title-sep-container {
    position: relative;
    height: 6px;
    flex-grow: 1;
    color: black;
}
.informacion_2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.trascendencia{
    text-align: center;
}

.cocker_talado {
    width: 202px;
    height: 188px;
    object-fit: contain;
    margin-right: 5px;
    margin-bottom: 34px;
}

.title{
    font-family: serif;
    font-size: 36px;
    font-style: italic;
    font-weight: unset;
    text-align: center;
    background-color: #f4ece1;
    background-size: contain;
    margin: 0;
    padding: 10px;
}

.paragraph {
    font-size: 16px;
    font-family: monospace;
    text-align: justify;
    margin-right: 44px;
    margin-left: 41px;
}


@media  (max-width: 567px){
    .container{
        /* width: calc(567px - 30px); */
        margin:  auto 20px;
    }

    .informacion_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img.caninos_montana {
        margin: 5px;
        width: 276px;
        height: 235px;
        padding-right: 27px;
        object-position: 18px -67px;
    }

    .informacion_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img.cocker_talado {
        margin: 5px;
        width: 251px;
        height: 235px;
    }
}


@media (min-width: 768px) {
    
    .container{
        width: calc(768px - 30px);
        margin:  auto 20px;
     }

     section.who-im {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: baseline;
                
    }  

    .informacion_1 {
        flex-direction: row;
        margin-left: 56px;
        margin-right: 56px;
        align-items: start;
    }

    .paragraph {
        font-size: 16px;
        font-family: monospace;
        text-align: justify;
        margin-right: 12px;
        margin-left: 7px;
    }

    .informacion_2 {
        flex-direction: row-reverse;
        margin-left: 56px;
        margin-right: 56px;
        align-items: start;
    }

    img.caninos_montana {
        width: 320px;
        height: 315px;
        object-position: 0px -94px;
        object-fit: cover;
        margin: 1px 0px 5px 0px;
    
    }


    img.cocker_talado {
        margin: 0px 0px;
        width: 320px;
        height: 252px;
        object-fit: cover;
        object-position: 0px 0px;
    }

}

@media (min-width: 992px) {
    
    
    .who {
        text-align: center;
        margin: 0px 0px 22px 0px;
    }

   
    img.caninos_montana {
        width: 482px;
        height: 507px;
        object-position: 0px -146px;
    
    }

    img.cocker_talado {
        width: 541px;
        height: 418px;
        margin-top: 11px;
    }    
    .informacion_1 {
        align-items: center;
    }
    .paragraph {
        font-size: 30px;
        font-family: math;
        text-align: justify;
    }
    .title {
        font-family: serif;
        font-size: 60px;
        font-style: italic;
        font-weight: unset;
        text-align: center;
        background-color: #f4ece1;
        background-size: contain;
        margin: 10px -19px;
        padding: 10px;
    }
}
/* @media (max-width: 1500px) {
    section.who-im {
        gap: 20px;
        align-items: flex-start;
        margin: 90px;
    }
    
    .who {
        text-align: center;
        margin: 0px 0px 22px 0px;
    }

   
    img.caninos_montana {
        width: 200px;
        height: 507px;
        object-position: 0px -146px;
    
    }

    img.cocker_talado {
        width: 541px;
        height: 418px;
        margin-top: 11px;
    }    
    .informacion_1 {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin: 20px 90px;
    }
    .paragraph {
        font-size: 10px;
        font-family: math;
        text-align: justify;
    }
    .title {
        font-family: serif;
        font-size: 40px;
        font-style: italic;
        font-weight: unset;
        text-align: center;
        background-color: #f4ece1;
        background-size: contain;
        margin: 10px -19px;
        padding: 10px;
    }
    a.ancor{ 
        font-size: 10px;
    } */
