<div class="container">
    <form [formGroup]="bookingForm"
    (ngSubmit)="registerBooking()" >
        <h1>Formulario De Reservas</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Dia</label>
          <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="day">
          <div id="emailHelp" class="form-text">mensaje de error</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Hora</label>
          <input type="time" class="form-control" id="exampleInputPassword1" formControlName="hour">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Servicio</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="idServicio">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Paseador</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="idUser">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mascota</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="idPet">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Acepto Terminos y Condiciones</label>
        </div>
        <button type="submit" class="btn btn-primary">Reserva</button>
      </form>
</div>
