<!-- {{ bookings | json }} -->
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">day</th>
        <th scope="col">hour</th>
        <th scope="col">idServicio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <th scope="row">{{ booking._id }}</th>
        <td>{{ booking.day }}</td>
        <td>{{ booking.hour }}</td>
        <td>{{ booking.idServicio }}</td>
        <td>
          <a [routerLink]="['/dashboard/update-booking', booking._id ]"  class="btn btn-primary">Edit</a>
          <a (click)="onDeleteBooking( booking._id)"  class="btn btn_outline-primary">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>