<!-- {{ bookings | json }} -->
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">day</th>
        <th scope="col">hour</th>
        <th scope="col">idServicio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <th scope="row">{{ booking._id }}</th>
        <td>{{ booking.day }}</td>
        <td>{{ booking.hour }}</td>
        <td>{{ booking.idServicio }}</td>
      </tr>
    </tbody>
  </table>
</div>