
<h1 class="registroh1">Registra a tu mascota</h1>
<ul class="listasregistro">
<li class="listareg">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre completo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Pepito Perez">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
  </div>
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Contraseña</label>
    </div>
    <div class="col-auto">
      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Contraseña tiene que contener entre 8-20 caracteres.
      </span>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Numero de telefono</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+573000000000">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Direccion</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
</li>
<li class="listareg">
    <div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre del canino</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Yoru">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Raza</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Pitbull">
        </div>
        <div class="row g-3 align-items-center">
            </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Vacunas aplicadas</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Rabia,moquillo,etc...">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Describe a tu mascota</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</li>
</ul>
<button class="botton3" type="button" class="registroboton">Enviar</button>

