<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">race</th>
        <th scope="col">age</th>
        <th scope="col">idUser</th>
        <th scope="col">description</th>
        <th scope="col">urlImage</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of pets">
        <th scope="row">{{ pet._id }}</th>
        <td>{{ pet.name }}</td>
        <td>{{ pet.race }}</td>
        <td>{{ pet.age }}</td>
        <td>{{ pet.idUser }}</td>
        <td>{{ pet.description }}</td>
        <td>
          
        </td>
        <td>
          <a href="" class="btn btn-primary">Edit</a>
          <a (click)="onDelete( pet._id )" class="btn btn-outline-primary">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

