<section class="text-center m-2">
    <!-- Facebook -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/?locale=es_LA" role="button"><i
            class="fab fa-facebook-f"></i></a>

    <!-- Twitter -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com/?lang=es" role="button"><i
            class="fab fa-twitter"></i></a>

    <!-- YouTube -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.youtube.com/" role="button"><i
            class="fab fa-youtube"></i></a>

    <!-- Instagram -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/" role="button"><i
            class="fab fa-instagram"></i></a>


    <!-- Github -->
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/" role="button"><i
            class="fab fa-github"></i></a>
</section>
<section class="pre-footer contenedor">
    <div class="widget zonas">
        <h6 class="disponibles">
            Disponibles en las siguientes zonas:
        </h6>
        <div class="localidades">
            <p class="localidad">Chapinero</p>
            <p class="localidad">Suba</p>
            <p class="localidad">Engativa</p>
            <p class="localidad">Fontibon</p>
            <p class="localidad">Kenedy</p>
            <p class="localidad">Ciudad Bolivar</p>
            <p class="localidad">Puente Aranda</p>
        </div>
    </div>
    <div class="widget mapa">
        <iframe class="iframe-mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.39472074134!2d-74.27262552044823!3d4.648620643934393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses-419!2sco!4v1712441103200!5m2!1ses-419!2sco"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="widget formulario">
        <form action="" class="form-footer">
            <input class="form name" type="text" name="form-footer" placeholder="Nombre" required>
            <input class="form email" type="email" name="form-footer" placeholder="Email" required>
            <input class="form asunto" type="text" name="form-footer" placeholder="Asunto" required>
            <input class="form mensaje" type="text" name="form-footer" placeholder="Mensaje" required>
            <button class="btn btn-enviar">Enviar</button>
        </form>
    </div>
    
</section>