<section class="banner_space_ms">
    <div class="banner">
        <h1 class="serv_title">MIS SERVICIOS</h1>
    </div>
</section>
<section class="servicios">
    <ul class="serv_list">
        <li class="serv_card">
            <div class="card" style="width: 18rem;">
                <img class="card_img_servicio_1" src="assets/images/webp/servicio_1.webp" class="card-img-top" alt="servicio_1">
                <div class="card-body">
                    
                        <h5 class="card_title">PASEO MEDIODÍA</h5>
                        <p class="card_text">Info about the service</p>
                        <p class="card_text">2 Hora</p>
                        <p class="card_price">$50.000</p>
                        <button class="card_btn" routerLink="/dashboard/new-booking">Reservar ahora</button>
                    
                </div>
            </div>
        </li>
        <li class="serv_card">
            <div class="card" style="width: 18rem;">
                <img class="card_img" src="assets/images/jpg/pijamada.jpeg" class="card-img-top" alt="servicio_1">
                <div class="card-body">
                    
                        <h5 class="card_title">PIJAMADA PERRUNA</h5>
                        <p class="card_text">Info about the service</p>
                        <p class="card_text">3 Hora</p>
                        <p class="card_price">$100.000</p>
                        <button class="card_btn" routerLink="/dashboard/new-booking">Reservar ahora</button>
                    
                </div>
            </div>
        </li>
        <li class="serv_card">
            <div class="card" style="width: 18rem;">
                <img class="card_img" src="assets/images/jpg/energiahora.jpeg" class="card-img-top" alt="servicio_1">
                <div class="card-body">
                    
                        <h5 class="card_title">ENERGÍA POR UNA HORA</h5>
                        <p class="card_text">Info about the service</p>
                        <p class="card_text">1 Hora</p>
                        <p class="card_price">$22.000</p>
                        <button class="card_btn" routerLink="/dashboard/new-booking">Reservar ahora</button>
                    
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="servicios">
    <ul class="serv_list">
        <li class="serv_card">
            <div class="card" style="width: 18rem;">
                <img class="card_img" src="assets/images/webp/servicio_1.webp" class="card-img-top" alt="servicio_1">
                <div class="card-body">
                    
                        <h5 class="card_title">PASEO EN LA MAÑANA</h5>
                        <p class="card_text">Info about the service</p>
                        <p class="card_text">1 Hora</p>
                        <p class="card_price">$40.000</p>
                        <button class="card_btn" routerLink="/dashboard/new-booking">Reservar ahora</button>
                    
                </div>
            </div>
        </li>
        <li class="serv_card">
            <div class="card" style="width: 18rem;">
                <img class="card_img" src="assets/images/webp/servicio_3.webp" class="card-img-top" alt="servicio_1">
                <div class="card-body">
                    
                        <h5 class="card_title">CORTE & BAÑO</h5>
                        <p class="card_text">Info about the service</p>
                        <p class="card_text">2 Horas</p>
                        <p class="card_price"> | Pequeño $50.000 |
                                               | Mediano $70.000 |
                                               | Grande  $100.000 |
                        </p>
                        <button class="card_btn" routerLink="/dashboard/new-booking">Reservar ahora</button>
                    
                </div>
            </div>
        </li>
        <li class="serv_card">
            <div class="card" style="width: 18rem;">
                <img class="card_img" src="assets/images/jpg/hotel.jpeg" class="card-img-top" alt="servicio_1">
                <div class="card-body">
                    
                        <h5 class="card_title">HOTEL CANINO</h5>
                        <p class="card_text">Info about the service</p>
                        <p class="card_text">8 Horas</p>
                        <p class="card_price">$180.000</p>
                        <button class="card_btn" routerLink="/dashboard/new-booking">Reservar ahora</button>
                    
                </div>
            </div>
        </li>
    </ul>
</section>