@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


a{
    text-decoration: none;
    color: white;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 25%;

    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

a:hover{
    color: white;
}

.card {
    background-color: #F5DEB3;
    padding: 1rem;
}

.banner_space{
    background-color: #D9B4EA;
    height: 520px;
    padding-top: .5rem;
    border-radius: 25px;
    margin: 10px 10px 0px 10px;

    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.imagen-superiores-banner {
    display: flex;
    justify-content: space-between;
}

img.primera-img-patitas {
    position: relative;
    height: 90px;
    width: 90px;
    padding: 0;
    margin: 0
}

img.segunda-img-corazon-patitas {
    position: relative;
    height: 90px;
    width: 90px;
}

.banner_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 3rem;
}

img.banner_comas {
    width: 8%;
    height: 0%;
}

img.banner_comas2 {
    width: 8%;
    transition: transform 0.5s;
    transform: rotate(182deg);
}

.banner_title{
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-top: 1rem;
}

.imagen-inferiores-banner {
    display: flex;
    justify-content: space-between;
}

img.primera-img-corazon-patitas {
    position: relative;
    height: 90px;
    width: 90px;
}

img.segunda-img-patitas {
    position: relative;
    height: 90px;
    width: 90px;
}

.banner_space_ms{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4ECE1;
    width: 100%;
    height: 165px;
}

.card-primera {
    background-color: #F5DEB3;
    padding: 1rem;
    margin: 0% 3%;
    border-radius: 3%;
}

.card-segunda {
    background-color: #F5DEB3;
    padding: 1rem;
    margin: 0% -4%;
    border-radius: 3%;
}

.card-tercera {
    background-color: #F5DEB3;
    padding: 1rem;
    margin: 0% 6%;
    border-radius: 3%;
}

.card-cuarta {
    background-color: #F5DEB3;
    padding: 1rem;
    margin: 0% 5%;
    border-radius: 3%;
}

.card-quinta {
    background-color: #F5DEB3;
    padding: 1rem;
    margin: 0% 4% 0% 1%;
    border-radius: 3%;
}

.card-sexta {
    background-color: #F5DEB3;
    padding: 1rem;
    margin: 0% 8% 5% 2%;
    border-radius: 3%;
}



img.card-img-top {
    height: 245px;
    object-fit: cover;
    border-radius: 3%;

    view-timeline-name: --main;
    view-timeline-axis: block;

    animation-timeline: --main;
    animation-name: show;
    animation-range: entry 43% cover 38%;
    animation-fill-mode: both;
}

.serv_title{
    font-size: 50px;
}

.servicios{
    display: flex;
    margin-top: 3rem;
    width: 100%;
    justify-content: center;

    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.serv_list{
    display: flex;
    flex-basis: 80%;
}


.serv_card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    
}

.card{
    border-style: none;
}

.card_img{
    border-radius: none;
}

.card-body {
    text-align: center;
    margin: 1rem 0;
    border: solid black;
    border-radius: 3%;
}

.card_title,
.card_text,
.card_price{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.card_price{
    margin-bottom: 40px;
}

.card_btn{
    background-color: #ff7749;
    border-radius: 1rem;
    appearance: none;
    padding: 16px;
    margin: 10%;
    color: white;
}

.card_btn:hover{
    background-color: rgba(255, 118, 72, 0.5);
    transition: 0.3s;
}

@media screen and ( max-width:1200px ){
    .serv_title{
        font-size: 65px;
    }

    .serv_list{
        gap: 1.5rem;
        text-align: center;

    }
}

@media screen and ( max-width:992px ){
    .serv_title{
        font-size: 60px;
    }

    .serv_list{
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 90%;
    }

    .card{
        margin-bottom: 2rem;
    }
}

@media screen and ( max-width:768px ){
    .serv_title{
        font-size: 55px;
    }

    .serv_list{
        flex-basis: 200%;
    }

    .card{
        margin-bottom: 1rem;
    }
}

@media screen and ( max-width:576px ){
    .serv_title{
        font-size: 50px;
    }


}