<div class="container">
    <form [formGroup]="petForm"
    (ngSubmit)="registerPets()" >
        <h1>Registrar Mascota</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
          <div *ngIf="petForm.get( 'name' )?.invalid && ( petForm.get( 'name' )?.dirty || petForm.get( 'name' )?.touched ) ">

              <small *ngIf="petForm.get( 'name' )?.errors?.[ 'required' ]">El Nombre De La Mascota Es Requerido</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Raza</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="race">
          <div id="emailHelp" class="form-text">mensaje de error</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Edad</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="age">
          <div id="emailHelp" class="form-text">mensaje de error</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Dueño</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="idUser">
          <div id="emailHelp" class="form-text">mensaje de error</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Observaciones De La Mascota</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="description">
            <div id="emailHelp" class="form-text">mensaje de error</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Foto De La Mascota</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="urlImage">
            <div id="emailHelp" class="form-text">mensaje de error</div>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Acepto Terminos y Condiciones</label>
          <div id="emailHelp" class="form-text">mensaje de error</div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="petForm.invalid" >Registra</button>
      </form>
</div>