<section class="banner_space">
  <div class="banner">
      <div class="imagen-superiores-banner">
          <img class="primera-img-patitas" src="assets/images/png/huellastilo-removebg-preview 4.png" alt="">
          <img class="segunda-img-corazon-patitas" src="assets/images/png/huellaestilo2-removebg-preview 3.png" alt="">
     </div>
          <img class="banner_img" src="assets/images/png/3D Avatars/14perritoservices.png" alt="" srcset="">
          <h1 class="banner_title"><img class="banner_comas" src="assets/images/png/comas_para_texto-removebg-preview 4comitasdetitulo.png" alt="">Registro Mascota<img class="banner_comas2" src="assets/images/png/comas_para_texto-removebg-preview 4comitasdetitulo.png" alt=""></h1>
      <div class="imagen-inferiores-banner">
          <img class="primera-img-corazon-patitas" src="assets/images/png/huellaestilo2-removebg-preview 3.png" alt="">
          <img class="segunda-img-patitas" src="assets/images/png/huellastilo-removebg-preview 4.png" alt="">
      </div>
  </div>
</section>

<div class="container">
    <form [formGroup]="petForm"
    (ngSubmit)="registerPets()" >
        <h1>Registrar Mascota</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="name">
          <div class="error" *ngIf="petForm.get( 'name' )?.invalid && ( petForm.get( 'name' )?.dirty || petForm.get( 'name' )?.touched ) ">

              <small *ngIf="petForm.get( 'name' )?.errors?.[ 'required' ]">El Nombre De La Mascota Es Requerido</small>
              <small *ngIf="petForm.get( 'name' )?.errors?.[ 'minlength' ]">Minimo 4 Caracteres</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Raza</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="race">
          <div class="error" *ngIf="petForm.get( 'race' )?.invalid && ( petForm.get( 'race' )?.dirty || petForm.get( 'race' )?.touched ) ">

            <small *ngIf="petForm.get( 'race' )?.errors?.[ 'required' ]">La Raza De La Mascota Es Requerida</small>
            <small *ngIf="petForm.get( 'race' )?.errors?.[ 'minlength' ]">Minimo 4 caracteres</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Edad</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="age">
          <div class="error" *ngIf="petForm.get( 'age' )?.invalid && ( petForm.get( 'age' )?.dirty || petForm.get( 'age' )?.touched ) ">

            <small *ngIf="petForm.get( 'age' )?.errors?.[ 'required' ]">La Edad De La Mascota Es Requerida</small>
            <small *ngIf="petForm.get( 'age' )?.errors?.[ 'minlength' ]">Minimo 1 caracteres</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Dueño</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="idUser">
          <div class="error" *ngIf="petForm.get( 'idUser' )?.invalid && ( petForm.get( 'idUser' )?.dirty || petForm.get( 'idUser' )?.touched ) ">

            <small *ngIf="petForm.get( 'idUser' )?.errors?.[ 'required' ]">Se Requiere El Nombre Del Dueño</small>
            <small *ngIf="petForm.get( 'idUser' )?.errors?.[ 'minlength' ]">Minimo 4 caracteres</small>
          </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Observaciones De La Mascota</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="description">
            <div class="error" *ngIf="petForm.get( 'description' )?.invalid && ( petForm.get( 'description' )?.dirty || petForm.get( 'description' )?.touched ) ">

              <small *ngIf="petForm.get( 'description' )?.errors?.[ 'required' ]">Solo Si Es Necesario</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Foto De La Mascota</label>
            <input type="text" class="form-control" id="exampleInputPassword1" formControlName="urlImage">
            <div class="error" *ngIf="petForm.get( 'urlImage' )?.invalid && ( petForm.get( 'urlImage' )?.dirty || petForm.get( 'urlImage' )?.touched ) ">

              <small *ngIf="petForm.get( 'urlImage' )?.errors?.[ 'required' ]">Foto De La Mascota Es Requerido</small>
              <small *ngIf="petForm.get( 'urlImafe' )?.errors?.[ 'minlength' ]">Minimo 4 caracteres</small>
            </div>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Acepto Terminos y Condiciones</label>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary" [disabled]="petForm.invalid">Reserva</button>
          <a class="btn btn-secondary" routerLink="/dashboard/bookings">Ir a Reservas</a>
      </div>
      </form>
</div>