
.banner_space{
    background-color: #F4ECE1;
    width: 100%;
    height: 550px;
    padding-top: 1rem;
}

.banner_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    width: 150px;
    height: 150px;
    border-radius: 3rem;
}

.banner_title{
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-top: 1rem;
}
 .banner_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2rem;
    background-color: #FF7648;
    border-style: none;
    color: white;
    height: 50px;
    width: 222px;
}

.eslogan{
    display: flex;
    justify-content: center;
    font-size: large;
}

a.pase_link {
    color: white;
}


@media screen and ( max-width:1200px ){
    .banner_img{
        width: 140px;
        height: 140px;
    }

    .banner_title{
        font-size: 100px;
    }
}
@media screen and ( max-width:992px ){
    .banner_img{
        width: 135px;
        height: 135px;
    }

    .banner_title{
        font-size: 90px;
    }
}
@media screen and ( max-width:768px ){
    .banner_img{
        width: 120px;
        height: 120px;
    }

    .banner_title{
        font-size: 75px;
    }
}


@keyframes show{
    from{
        opacity: 0;
        scale: 25%;

    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

@media (min-width: 1200px) {
    /* section.who-im {
        gap: 170px;
        align-items: flex-start;
    }
    
    .who {
        text-align: center;
        margin: 15px 0px 22px 27px;
    }

    section.who-im {
        gap: 226px;
        display: flex;
        margin: 1rem;

        view-timeline-name: --main;
        view-timeline-axis: block;
    
        animation-timeline: --main;
        animation-name: show;
        animation-range: entry 9% cover 34%;
        animation-fill-mode: both;
    }

    .paragraph{
        font-size: 17px;
    }
    img.caninos_montana {
        width: 309px;
        height: 253px;
        margin-top: 10px;
    }

    img.cocker_talado {
        width: 321px;
        height: 253px;
        margin-top: 48px;
    }  */
}
.paseo_space {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    list-style: none;
}

.paseo_img {
    width: 470px;
    height: 395px;
    object-fit: cover;
}

.paseo_info {
    background-color: #f4ece1;
    width: 470px;
    height: 395px;

}

.paseo_main {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

    view-timeline-name: --main;
    view-timeline-axis: block;

    animation-timeline: --main;
    animation-name: show;
    animation-range: entry 43% cover 27%;
    animation-fill-mode: both;
}

.paseo_title {
    display: flex;
    margin: 3rem;
    padding: 113px 63px 4px 101px;
}

.paseo_info h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.paseo_info hr {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.eslogan_paseo {
    margin-left: 20px;
    margin-right: 20px;
}

.btn_reservar {
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 2rem;
    width: 150px;
    height: 52px;
}

.ver_mas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2rem;
    background-color: #FF7648;
    border-style: none;
    color: white;
    height: 50px;
    width: 222px;
    margin-bottom: 5rem;
}

.ver_mas:hover {
    color: black;
    transition: 0.3s;
}

.ver_mas_link {
    text-decoration: none;

    view-timeline-name: --main;
    view-timeline-axis: block;

    animation-timeline: --main;
    animation-name: show;
    animation-range: entry 12% cover 42%;
    animation-fill-mode: both;
}

@media (min-width: 380px) {

    .paseo_title{
        justify-content: center;
        align-items: center;

        view-timeline-name: --main;
        view-timeline-axis: block;
    
        animation-timeline: --main;
        animation-name: show;
        animation-range: entry -73% cover 111%;
        animation-fill-mode: both;
    }

    .paseo_space {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paseo_img,
    .paseo_info {
        width: 300px;
        height: 185px;
    }

    .paseo_info {
        height: 360px;
    }

}

@media (min-width: 567px) {

    .paseo_space{
        justify-content: center;
        align-items: center;
    }

    .paseo_img,
    .paseo_info {
        width: 400px;
        height: 185px;
    }

    .paseo_info {
        height: 360px;
    }

}

@media (min-width: 768px) {

    .paseo_space{
        flex-direction: row;
    }
    .paseo_img,
    .paseo_info {
        width: 300px;
        height: 360px;
    }

    .paseo_info {
        height: 360px;
    }

}

@media screen and (min-width:998px) {
    .paseo_space {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        list-style: none;
    }
    
    .paseo_img {
        width: 370px;
        height: 395px;
        object-fit: cover;
    }
    
    .paseo_info {
        background-color: #f4ece1;
        width: 370px;
        height: 395px;
    
    }
}

@media screen and (min-width:1200px){
    .paseo_space {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        list-style: none;
    }
    
    .paseo_img {
        width: 470px;
        height: 395px;
        object-fit: cover;
    }
    
    .paseo_info {
        background-color: #f4ece1;
        width: 470px;
        height: 395px;
        text-align: center;
    }

}

