<section class="banner_space">
    <div class="banner">
        <img class="banner_img" src="assets/images/jpg/cutted.jpg" alt="" srcset="">
        <h1 class="banner_title">CaminanDog</h1>
        <p class="eslogan">Amigo de los perros</p>
        <button class="banner_btn" type="button"><a class="pase_link" routerLink="/dashboard/bookings">Vamos a pasear</a></button>
    </div>
</section>

<h3 class="paseo_title">RESERVA UN PASEO</h3>
        <section class="paseo_main">
            <ul class="paseo_space">
                <li><img class="paseo_img" src="assets/images/webp/servicio_1.webp" alt="" srcset=""></li>
                <li class="paseo_info">
                    <div>
                        <h3>Paseo Mediodía</h3>
                        <p class="eslogan_paseo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsum.</p>
                        <hr>
                        <p>30 min</p>
                        <p>$320</p>
                        <button class="btn_reservar" routerLink="dashboard/new-booking">Reservar ahora</button>
                    </div>
                </li>
                <br>
            </ul>
        </section>
        <a class="ver_mas_link" routerLink="dashboard/our-services"><button class="ver_mas" type="button">Ver más aqui</button></a>
