.banner_space{
    background-color: #D9B4EA;
    height: 520px;
    padding-top: .5rem;
    border-radius: 25px;
    margin: 10px 10px 0px 10px;
}
.imagen-superiores-banner {
    display: flex;
    justify-content: space-between;
}
img.primera-img-patitas {
    position: relative;
    height: 90px;
    width: 90px;
    padding: 0;
    margin: 0
}
img.segunda-img-corazon-patitas {
    position: relative;
    height: 90px;
    width: 90px;
}
.banner_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 3rem;
}

.banner_title{
    display: flex;
    justify-content: center;
    font-size: 150px;
    margin-top: 1rem;
}
.banner_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2rem;
    background-color: black;
    border-style: none;
    height: 50px;
    width: 222px;
}
.eslogan{
    display: flex;
    justify-content: center;
    font-size: large;
}
a.pase_link {
    color: white;
    text-decoration: none;
}
.imagen-inferiores-banner {
    display: flex;
    justify-content: space-between;
}
img.primera-img-corazon-patitas {
    position: relative;
    height: 90px;
    width: 90px;
}
img.segunda-img-patitas {
    position: relative;
    height: 90px;
    width: 90px;
}

.descripcion_quienes_somos {
    margin: 20px 10px 20px 10px;
    padding: 20px 40px 10px 40px;
    background-color: #F5DEB3;
    border-radius: 2rem;
}

.quienes_somos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}
.titulo_quienes_somos {
    margin: 20px 0px 0px 0px;
}

.img_quines_somos {
    width: 80%;
    padding: 5%;
    background-color: #FF7648;
    border-radius: 2rem;
}

/* Verificar de aqui pa' abajo */

.paseo_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0rem 0rem 0rem;
    font-size: 20px
}
.img_paseo_title {
    width: 65px;
    display: flex;
    justify-content: center;
    margin: 20px auto 0px auto;
}
.paseo_main {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

    view-timeline-name: --main;
    view-timeline-axis: block;

    animation-timeline: --main;
    animation-name: show;
    animation-range: entry 43% cover 27%;
    animation-fill-mode: both;
    background-color: #f4ece1;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.ps_img {
    display: flex;
    width: 50%;
}
.paseo_img {
    width: 80%;
    margin: 50px auto 0px auto;
    border-radius: 10rem;
}

.paseo_info h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.paseo_info hr {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}


.eslogan_paseo {
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.tiempo_reserva {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
.valor_reserva {
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

.btn_reservar {
    background-color: white;
    color: black;
    border-radius: 2rem;
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.ver_mas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2rem;
    background-color: #FF7648;
    border-style: none;
    color: white;
    height: 50px;
    width: 222px;
    margin-bottom: 5rem;
}

.ver_mas:hover {
    color: black;
    transition: 0.3s;
}

.ver_mas_link {
    text-decoration: none;

    view-timeline-name: --main;
    view-timeline-axis: block;

    animation-timeline: --main;
    animation-name: show;
    animation-range: entry 12% cover 42%;
    animation-fill-mode: both;
}



@keyframes show{
    from{
        opacity: 0;
        scale: 25%;

    }

    to{
        opacity: 1;
        scale: 100%;
    }
}



@media screen and (min-width: 550px) {
    .banner_space {
        height: 515px;
    }
    .quienes_somos {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        flex-direction: row;
        
    }
    
    .union {
        max-width: 60%; 
    }
    .descripcion_quienes_somos{
        margin: 10px 0px 0px 10px;
        padding: 15px 0px 9px 0px;
        font-size: 13px;
        
    }
    .div_imagen_quienes_somos {
        max-width: 35%; 
    }
    .img_quines_somos{
        width: 90%;
        padding: 5%;
        margin: 50px 0 0 0;
    }

    .paseo_info {
        height: 360px;
    }
    .paseo_title{
        justify-content: center;
        align-items: center;

        view-timeline-name: --main;
        view-timeline-axis: block;
    
        animation-timeline: --main;
        animation-name: show;
        animation-range: entry -73% cover 111%;
        animation-fill-mode: both;
    }
    .paseo_main{
        display: flex;
        width: 95%;
        justify-content: space-between;
        flex-direction: row;
    }
    .paseo_img{ 
    width: 80%;
    margin: 50px auto 30px auto;
    border-radius: 2rem;
}
    .paseo_info {
        height: 80%;
    }
}

@media screen and (min-width:755px) {
    .banner_space {
        height: 560px;
    }
    .img_quines_somos {
        margin: 70px 0 0 0;
    }
}


@media screen and (min-width:990px) {
    .banner_space {
        height: 580px;
    }
    .paseo_img {
        width: 370px;
        height: 395px;
        object-fit: cover;
    }
    .quienes_somos {
            margin: 50px 0px 0px 0px;
        }
    .descripcion_quienes_somos {
            margin: 10px 0px 0px 10px;
            padding: 15px 0px 10px 0px;
            font-size: 20px;
        }
    
}

@media screen and (min-width:1200px){
    .banner_space {
        height: 650px;
    }
    .paseo_img {
        width: 470px;
        height: 395px;
        object-fit: cover;
    }
    .paseo_info {
        background-color: #f4ece1;
        width: 470px;
        height: 395px;
    }

}

/* Medidas de imagen banner */

@media screen and ( max-width:1200px ){
    .banner_img{
        width: 140px;
        height: 140px;
    }

    .banner_title{
        font-size: 100px;
    }
}
@media screen and ( max-width:990px ){
    .banner_img{
        width: 135px;
        height: 135px;
    }

    .banner_title{
        font-size: 90px;
    }
}
@media screen and ( max-width:765px ){
    .banner_img{
        width: 120px;
        height: 120px;
    }

    .banner_title{
        font-size: 75px;
    }
}
@media screen and ( max-width:450px ){
    .banner_img{
        width: 100px;
        height: 100px;
    }

    .banner_title{
        font-size: 65px;
    }
}