<section class="banner_space">
    <div class="banner">
        <img class="banner_img" src="assets/images/jpg/cutted.jpg" alt="" srcset="">
        <h1 class="banner_title">CaminanDog</h1>
        <p class="eslogan">Amigo de los perros</p>
        <button class="banner_btn" type="button"><a class="pase_link" routerLink="/dashboard/bookings">Vamos a pasear</a></button>
    </div>
</section>
<div class="container">
    <section class="who-im">
        <div class="informacion_1">
            <div class="who">
                <h2 class="title"> Quienes Somos </h2>
                <p class="paragraph">Somos un grupo de entrenadores y paseadores caninos en constante entrenamiento, enfocados en el corregimiento de malas conductas y adiestramiento en positivo; los cuales son capacitados, aprobados y certificados por nuestros experimentados guías caninos de la fuerza áerea para así poder brindar un mejor servicio a nuestros clientes.</p>
            </div>
            <div class="image1">
                <img class="caninos_montana" src="assets/images/jpg/foto1.jpg" title="Caninos en la montaña"
                    alt="Imagen de 6 perros sentados disfrutando de un día de juego en la montaña">
            </div>
        </div>
        <div class="informacion_2">         
            <div class="trascendencia">
                <h3 class="title">Trascendencia</h3>
                <p class="paragraph">Llevamos más de 5 (cinco) años en el mercado, brindando nuestros amor por los canes. Cubriendo las necesidades de nuestros clientes, siendo la capacitación unas de las labores más buscadas por CaminanDog y así brindar el mejor servicio a nuestro público.</p>
                
            </div>
            <div class="image2">
                <img class="cocker_talado" src="assets/images/jpg/foto2.jpg"
                alt="Cocker Spaniel sobre el tronco de un árbol talado con fonto de naturaleza">
            </div>
        </div>
    </section> 
</div>
<h3 class="paseo_title">RESERVA UN PASEO</h3>
        <section class="paseo_main">
            <ul class="paseo_space">
                <li><img class="paseo_img" src="assets/images/webp/servicio_1.webp" alt="" srcset=""></li>
                <li class="paseo_info">
                    <div>
                        <h3>Paseo Mediodía</h3>
                        <p class="eslogan_paseo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsum.</p>
                        <hr>
                        <p>30 min</p>
                        <p>$320</p>
                        <button class="btn_reservar" type="button">Reservar ahora</button>
                    </div>
                </li>
                <br>
            </ul>
        </section>
        <a class="ver_mas_link" routerLink="dashboard/our-services"><button class="ver_mas" type="button">Ver más aqui</button></a>
